@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .no-spinner {
    -moz-appearance: textfield;
  }

  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("/fonts/SpaceGrotesk.ttf") format("truetype");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SpaceGrotesk", Arial, Helvetica, sans-serif;
}

.react-datepicker {
  /*General styles*/
  @apply bg-background-foreground text-white border-gray-400/90
  h-72 w-72 flex items-center justify-center rounded-lg shadow-lg 
  !important;
}

.react-datepicker .react-datepicker__day {
  /*Color of days */
  @apply text-white border border-gray-400/70 !important;
}

.react-datepicker__day-name {
  /*Days week*/
  @apply text-white !important;
}

.react-datepicker__header {
  /*Header of calendar*/
  @apply bg-background-foreground text-white !important;
}

.react-datepicker__day:hover {
  /*Everyday hover*/
  @apply bg-background-alt text-white !important;
}

.react-datepicker__day--selected {
  /*Day selected*/
  @apply bg-background-alt text-white !important;
}

.react-datepicker__current-month {
  /*Current month */
  @apply text-white font-normal text-base font-SpaceGrotesk !important;
}

.react-datepicker__day--today {
  /*Today*/
  @apply text-white bg-background-alt  !important;
}
